{% extends "admin/base.html.twig" %}

{% block title %}
    Gestion des Utilisateurs
{% endblock %}

{% block body %}
    
<div class="container-fluid">
    <h1 class="my-5">Gestion des utilisateurs</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom, Prénom</th>
                <th>Email</th>
                <th>Image</th>
                <th>Introduction</th>
                <th>Description</th>
    
            </tr>
        </thead>

        <tbody>

            {% for user in users %}
                
            
            <tr>
                <td>{{user.id}}</td>
                <td>{{ user.fullName}}</td>
                <td>{{ user.email}}</td>
                <td><img src="{{user.picture}}" alt="" class="avatar avatar-micro"></td>
                <td>{{user.introduction}}</td>
                <td> {{user.description | raw}}</td>
                <td><a href="{{path('admin_user_edit', {'id': user.id})}}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock  %}